/* citySearch.css */
.search-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 8px;
}

#cityInput {
  padding: 8px;
  text-align: center;
  width: 100%;
  border-radius: 5px;
  color: #fff;
  background-color: #333;
}

#cityInput:hover {
  background-color: #007bff;
}

.suggestions-list:hover {
  background-color: #333;
}

.suggestions-list {
  position: relative;
  top: 100%;
  background-color: #333;
  border-top: 1px solid #ccc;
  padding: 0;
  margin: 0;
  color: rgb(255, 252, 252);
  font-size: 11px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1;
  width: 100%;
}

.suggestions-list li {
  padding: 8px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #dbdada;
}

.clear-button {
  background-color: #e90707;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.clear-button::after {
  content: "✕";
}

.clear-button:hover {
  background-color: #ff5100;
}
