.flight-results-title {
    text-align: center;
}

.flight-card {
    background-color: darkorange;
    margin: 20px;
    border-radius: 20px;
    height: 450px;
    width: 370px;
    display: inline-block;
    transition: all 0.5s ease;
    padding-top: 10px;
    padding-bottom: 10px;
}

.flight-container {
    justify-content: center;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px;
}

.flight-card:hover {
    transition: all 0.5s ease;
    box-shadow: 0px 0px 40px rgb(255, 104, 33);
    background-color: #ffc1a0;
}

.ticket-price {
    font-weight: bold;
    background-color: beige;
    color: black;
    font-size: large;
}

.airline-logo {
    height: 150px;
    width: 150px;
    border-radius: 100%;
}


input[type='radio'] { 
    transform: scale(2); 
    transition: all 0.5s ease;
}
input[type='radio']:hover { 
    cursor: pointer;
    box-shadow: 0px 0px 20px rgb(253, 255, 252);
    transition: all 0.5s ease;
}

.flight-img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

.flights-card {
    background-color: darkorange;
    margin: 20px;
    border-radius: 20px;
    height: 400px;
    width: 370px;
    display: inline-block;
    transition: all 0.5s ease;
    padding-top: 10px;
    padding-bottom: 10px;
}

.flights-card:hover {
    transition: all 0.5s ease;
    box-shadow: 0px 0px 40px rgb(255, 104, 33);
    background-color: #ffc1a0;
}