/* @import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");

/* new imported font */
@font-face {
  font-family: "sans-serif-grotesk";
  src: url("../fonts/NeueKonstantGrotesk-Book.otf") format("opentype");
}

*,
*:before,
*:after {
  box-sizing: border-box !important;
  font-family: "sans-serif-grotesk", sans-serif;
}

.login-body {
  min-height: 100vh;
  font-family: "Oswald", "Raleway", sans-serif;
  margin: 0;
}

/* .login-container {
  position: absolute;
  width: 100%;
  height: 97.2%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  z-index: -10;
} */

.login-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: -10;
}

.login-container:hover,
.login-container:active {
  .login-top,
  .login-bottom {
    &:before,
    &:after {
      margin-left: 300px !important;
      transform-origin: -300px 50% !important;
      transition-delay: 0s !important;
    }
  }

  .login-center {
    opacity: 1 !important;
    transition-delay: 0.2s !important;
  }
}

.login-top,
.login-bottom {
  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100vmax;
    height: 125vmax;
    max-width: 100%;
    top: 50%;
    left: 50%;
    margin-top: -63vmax;
    transform-origin: 0 50%;
    transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
    opacity: 0.65;
    transition-delay: 0.2s;
  }
}

.login-top {
  &:before {
    transform: rotate(45deg);
    background: #17c02e;
  }
  &:after {
    transform: rotate(135deg);
    background: #224091;
  }
}

.login-bottom {
  &:before {
    transform: rotate(-45deg);
    background: #fc9701;
  }
  &:after {
    transform: rotate(-135deg);
    background: #7700ff;
  }
}

.login-header {
  color: #ffffff;
  font-size: 35px;
  font-weight: bold;
}

.login-center {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
  padding: 10px;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
  transition-delay: 0s;
  color: #ffffff;
  font-size: 18px;
}

.login-error {
  color: red;
  font-size: 11px;
  margin-top: 5px;
}

.login-input {
  width: 90%;
  padding: 12px;
  margin: 5px;
  border-radius: 5px;
  border: 3px inset #4fb496bb;
  font-family: inherit;
  font-size: 18px;
}

.login-input-invalid {
  border: 4px inset #e41414be;
  border-style: inset;
}

.login-btn {
  display: block;
  width: 90%;
  margin: 10px;
  font-size: 18px;
  font-weight: 900;
  padding: 12px;
  background: #17c02e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover,
.login-btn:focus {
  background: #129223;
  outline: none;
}

.login-btn:active {
  transform: scale(0.98);
}

.login-separator {
  display: flex;
  align-items: center;
  text-align: center;
}

.login-separator hr {
  flex: 1;
  height: 2px;
  width: 70px;
  margin: 0 10px;
  background-color: #ffffff;
}

.login-separator span {
  padding: 0 10px;
  color: #ffffff;
  margin-top: 2px;
}

.google-login-btn {
  display: block;
  width: 90%;
  margin: 5px;
  font-size: 18px;
  font-weight: 900;
  padding: 12px;
  background: #0084ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.google-login-btn:hover,
.google-login-btn:focus {
  background: #0352b9;
  outline: none;
}

.google-login-btn:active {
  transform: scale(0.98);
}

.login-message {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  margin-top: 33px;
  text-align: center;
  font-size: 60px;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  z-index: 1;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.login-container:hover .login-message {
  opacity: 0;
}

.login-container:not(:hover) .login-message {
  transition-delay: 0.5s;
}

.login-center input.login-input:hover {
  background-color: #eceaea;
}

.signup-link {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #ffffff;
  text-decoration: none;
  pointer-events: none;
}

.signup-link:hover .signup-link-span {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.signup-link .signup-link-span:focus {
  outline: none;
  text-decoration: none;
}

.signup-link-span {
  color: #3ca1ff;
  font-size: 18px;
  pointer-events: auto;
}
