/* Update CSS to use class names for styling */
/* 
.search-page-container::before {
  content: "";
  position: fixed;
  top: -100%;
  left: -100%;
  width: 300%;
  height: 300%;
  z-index: -10;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.8)
  );

  animation: backgroundAnimation3 8s linear infinite;
}

@keyframes backgroundAnimation3 {
  100% {
    transform: rotate(360deg);
  }
} */

.new-trip-form::after {
  content: "";
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  border-radius: 10px;
  background: linear-gradient(135deg, #8a8787, #2c2a2a);
  z-index: -1;
  opacity: 0.7;
}

.new-trip-form {
  max-width: 700px;
  margin: 5% auto;
  padding: 20px;
  background-color: #4b4848;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  opacity: 0;
  transform: translateY(-20px);
  animation: slideIn 1.5s 0.5s forwards;
}

@keyframes slideIn {
  to {
    transform: translateY(0);
    opacity: 0.9;
  }
}

.form-header {
  margin: 7%;
  background: linear-gradient(135deg, #8a8787, #2c2a2a);
  border-radius: 10px;
  transform: translateY(-20px);
  opacity: 0;
  animation: slideIn 1.5s 0.5s forwards;
}

.header {
  font-size: 35px;
  /* font-family: Oswald; */
}

.new-trip-form-group {
  margin-bottom: 30px;
}

.new-trip-form-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.new-trip-form-input {
  padding: 17px;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  transition: background-color 0.3s ease;
}

.new-trip-form-input:hover {
  background-color: #007bff;
}

.new-trip-form-input:focus {
  background-color: #3b3c3d;
}

.new-trip-form-input::placeholder {
  color: #fffefe;
}

.collaborators {
  display: flex;
  align-items: center;
  padding: 15px 15px;
  margin: 0;
}

.collaborator {
  margin: 1%;
  padding: 10px;
  border: 1px solid rgb(48, 41, 41);
  border-radius: 10px;
  background-color: #0084ffb0;
}

.collaborator:hover {
  background-color: #007bff;
  transform: scale(1.05);
}

.remove-collaborator-btn {
  background-color: #ff0000;
  border: none;
  padding: 0px 5px;
  margin-left: 5px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.remove-collaborator-btn:hover {
  background-color: #aa0e0e;
}

.collaborator-error {
  color: #ff0000;
  font-size: 14px;
}
.add-collaborator-btn {
  margin: 1%;
  padding: 10px 15px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-collaborator-btn:hover {
  background-color: #0056b3;
}

.new-trip-search-btn {
  margin-top: 5%;
  padding: 15px 20px;
  background-color: #007bff;
  border: none;
  width: 30%;
  border-radius: 5px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* .new-trip-remove-collaborator-btn {
  background-color: #e90707;
  border: none;
  border-radius: 5px;
  margin-left: 2%;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.new-trip-remove-collaborator-btn:hover {
  background-color: #ff5100;
} */

.new-trip-search-btn:hover {
  background-color: #0056b3;
}

/* .new-trip-collaborators-input-container {
  flex: 1;
  display: flex;
  align-items: center;
}

.new-trip-collaborators-input {
  flex: 1;
  padding-right: 10px;
}

.new-trip-add-collaborator-btn {
  margin-left: 5px;
  font-size: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.new-trip-add-collaborator-btn {
  padding: 10px;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */

input[type="date"]::before {
  content: attr(data-placeholder);
  width: 100%;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
  display: none;
}
