/* @import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");

/* new imported font */
@font-face {
  font-family: "sans-serif-grotesk";
  src: url("../fonts/NeueKonstantGrotesk-Book.otf") format("opentype");
}

*,
*:before,
*:after {
  box-sizing: border-box !important;
  font-family: "sans-serif-grotesk", sans-serif;
}

.signup-body {
  min-height: 100vh;
  font-family: "Oswald", "Raleway", sans-serif;
  margin: 0;
}

/* .signup-container {
  position: absolute;
  width: 100%;
  height: 97.2%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  z-index: -10;
} */

.signup-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: -10;
}

.signup-container:hover,
.signup-container:active {
  .signup-top,
  .signup-bottom {
    &:before,
    &:after {
      margin-left: 300px !important;
      transform-origin: -300px 50% !important;
      transition-delay: 0s !important;
    }
  }

  .signup-center {
    opacity: 1 !important;
    transition-delay: 0.2s !important;
  }
}

.signup-top,
.signup-bottom {
  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100vmax;
    height: 120vmax;
    max-width: 100%;
    top: 50%;
    left: 50%;
    margin-top: -61vmax;
    transform-origin: 0 50%;
    transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
    opacity: 0.65;
    transition-delay: 0.2s;
  }
}

.signup-top {
  &:before {
    transform: rotate(45deg);
    background: #e46569;
  }
  &:after {
    transform: rotate(135deg);
    background: #e78c46;
  }
}

.signup-bottom {
  &:before {
    transform: rotate(-45deg);
    background: #60b8d4;
  }
  &:after {
    transform: rotate(-135deg);
    background: #3745b5;
  }
}

.signup-header {
  color: #ffffff;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
}

.signup-center {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -40px;
  padding: 10px;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
  transition-delay: 0s;
  color: #ffffff;
  font-size: 20px;
}

.signup-error {
  color: red;
  font-size: 11px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.signup-input {
  width: 90%;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 3px inset #4fb496bb;
  font-family: inherit;
  font-size: 18px;
}

.signup-input-invalid {
  border: 4px inset #e41414be;
  border-style: inset;
}

.signup-btn {
  display: block;
  width: 90%;
  margin: 15px;
  font-size: 18px;
  font-weight: 900;
  font-family: inherit;
  padding: 11px;
  background: #ff3b42;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-btn:hover,
.signup-btn:focus {
  background: #cf0f16;
  outline: none;
}

.signup-btn:active {
  transform: scale(0.98);
}

.signup-message {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  margin-top: 33px;
  text-align: center;
  font-size: 60px;
  color: #ffffff;
  z-index: 1;
  font-family: "Oswald", sans-serif;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.signup-container:hover .signup-message {
  opacity: 0;
}

.signup-container:not(:hover) .signup-message {
  transition-delay: 0.5s;
}

.signup-center input.signup-input:hover {
  background-color: #eceaea;
}
