.budget-graph-container {
    margin: auto;
    width: 50%;
    height: 400px;
    width: 400px;
}

body {
    background-color: rgb(248, 237, 237);
}

.graph-budget {
    padding-bottom: 40px;
}

.collaborators-container {
    border: 1px solid #ccc;
    text-align: center;
}

.collaborator-image {
    display: inline-block;
    margin: 100px;
}

.collaborator-indiv-img {
    height: 200px;
    width: 200px;
    border-radius: 100%;

}

.remove-user-btn {
    font-weight: bold;
    background-color: #ffc1a0;
    border: solid 2px whitesmoke;
    border-radius: 100%;
    padding: 5px;
    height: 60px;
    width: 60px;
    color: black;
    transition: .4s ease-out;
}

.remove-user-btn:hover {
    cursor: pointer;
    color: white;
    background-color: black;
}

.weather-destination-container {
    display: flex;
    margin-top: 50px;
}

.destination-img-container {
    flex: 1;
    flex-basis: 50%;
    background-color: #d1f3ff;
    border-radius: 20px;
    margin: 15px;
    transition: all .5s ease;
}

.destination-img-container:hover {
    transition: all .5s ease;
    box-shadow: 0px 0px 20px rgb(0, 179, 255);
    padding: 2%;
}

.weather-container {
    flex: 1;
    flex-basis: 50%;
    background-color: lightcoral;
    border-radius: 20px;
    margin: 15px;
    transition: all .5s ease;
}

.weather-container:hover {
    transition: all .5s ease;
    box-shadow: 0px 0px 20px rgb(255, 0, 0);
    padding: 2%;
}

.destination-img {
    height: auto;
    width: 550px;
    border-radius: 50px;
}
